#degradado {
background: -webkit-linear-gradient(#FFFFFF, #CCFF99); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#FFFFFF, #CCFF99); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FFFFFF, #CCFF99); /* For Firefox 3.6 to 15 */
background: linear-gradient(#FFFFFF, #CCFF99); /* Standard syntax */
}

body {
	background-color: #FFFFCC;
}

a:link {
	color: #669900 !important;
}




body {
    font-family: arial;
    margin: 0;
    padding: 0;
}
h2.introduccion {
    font-size: 49px;
    text-shadow: 0px 3px 4px rgba(0,0,0,.5);
}
#intro {
    background: url(../images/perros.jpg) 50% 0 fixed;
    min-height: 700px;
    margin: 0 auto;
    width: 100%;
    padding: 100px 0;
}
.intro-unit {
    color: #ddd;
    padding: 60px;
    text-align: center;
}
#bloque1 {
    background-color: #000000;
    margin: 0 auto;
    width: 100%;
}
#bloque-img2 {
    background: url(../images/perros.jpg) 50% 0 fixed ;
     height: 300px;
    padding: 100px 0;
}
#bloque2 {
    background-color: #000000;
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

ul.bone { 
    list-style-image: url("../images/icons/bone-icon.png");
 }

 b {
    color: green;
 }